# This file lists the dependencies for the Blood Pressure Model project

pandas                  # Data manipulation and analysis
scikit-learn             # Machine learning algorithms
matplotlib               # Plotting and visualization
imbalanced-learn         # Handling imbalanced datasets


# This is how i have imported:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from imblearn.over_sampling import SMOTE
